.search-card {
  display: grid;
  grid-template-columns: 13vw auto;
  grid-template-rows: 1fr 3fr;
  margin: 0 15px;
  padding: 20px 0;
  border-bottom: 0.5px solid var(--primary-color);
}

.movie-link {
  grid-row: span 2;
  text-align: center;
}

.movie-poster {
  width: 80%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.movie-title {
  font-family: 'Merriweather', serif;
  font-size: 1.7rem;
  color: var(--secondary-color);
  align-self: center;
  margin: 10px;
}

.movie-overview {
  margin: 0 10px;
}

.movie-year {
  font-family: 'Roboto';
  font-weight: 100;
  margin: 0 10px;
}
