@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Raleway:wght@600&family=Lato:wght@700&family=Open+Sans:wght@600&family=Roboto:wght@400&family=Source+Sans+Pro:wght@400&family=Noto+Sans:wght@400&family=Poppins:wght@500&display=swap');
/* Google Fonts Usage:
    1. Primary Heading (H1):
    Font: Montserrat
    Style: Bold (700)

    2. Secondary Heading (H2):
    Font: Raleway
    Style: SemiBold (600)

    3. Tertiary Heading (H3):
    Font: Lato
    Style: Bold (700)

    4. Quaternary Heading (H4):
    Font: Open Sans
    Style: SemiBold (600)

    5. Body Text:
    Font: Roboto
    Style: Regular (400)

    6. Secondary Body Text / Small Text:
    Font: Source Sans Pro
    Style: Regular (400)

    7. Captions / Footnotes:
    Font: Noto Sans
    Style: Regular (400)

    8. Buttons / UI Elements:
    Font: Poppins
    Style: Medium (500)
*/

:root {
  --sprite-url: url('https://s.ltrbxd.com/static/img/content-bg.2f106e08.png');
  --form-bg-color: #101316;
  --login-btn-color: #00ac1c;
  --login-btn-hvr-color: #009d1a;
  --input-bg-color: #2c3440;
  --label-color: #678;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #14181c var(--sprite-url) 0 -1px repeat-x;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: whitesmoke;
  margin-bottom: 20px;
}

.form-container {
  display: grid;
  height: 100vh;
  place-items: center;
}

form {
  width: 30vw;
  display: grid;
  background-color: var(--form-bg-color);
  padding: 40px 50px;
  border-radius: 10px;
}

label {
  color: var(--label-color);
  font-family: 'Poppins', sans-serif;
}

input {
  font-size: 1.05rem;
  height: 30px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--input-bg-color);
  margin-top: 5px;
  margin-bottom: 20px;
}

input:focus {
  background-color: aliceblue;
}

button {
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
  background-color: var(--login-btn-color);
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.3);
  border: none;
  padding: 1vh 1.5vw;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
  font-size: 1.05rem;
}

button:hover {
  background-color: var(--login-btn-hvr-color);
}

.error {
  font-family: 'Noto Sans';
  color: red;
  text-align: center;
  margin-top: 10px;
}
