@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');

:root {
  --navbar-bg-color: #14181c;
  --logo-color: #eef0f2;
  --nav-link-color: #99aabb;
  --font-size-base: 1.2vw;
  --padding-base: 2vw;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--navbar-bg-color);
  color: whitesmoke;
  padding: var(--padding-base) 20vw;
}

.logo {
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(var(--font-size-base) * 1.67); /* Approximately 2vw */
}

.nav-links,
.auth-panel {
  display: flex;
  justify-content: space-around;
  width: 20vw;
  font-size: var(--font-size-base);
}

.navbar a {
  color: var(--nav-link-color);
  text-decoration: none;
}

.logo img {
  width: 5vw;
  padding: 0.5vw;
}

.logo a {
  color: var(--logo-color);
  text-decoration: none;
  margin-left: 0.5vw; /* Add space between the logo image and text */
}

.auth-panel {
  margin-left: 5vw;
  width: 15vw;
}
