.movie-card img {
  width: 100%;
  border-radius: 5px 5px 0 0;
  display: block;
}

.movie-card p {
  color: var(--secondary-color);
  background-color: #060708;
  border-radius: 0 0 5px 5px;
  padding: 5px;
  font-size: 0.6rem;
  font-family: 'Source Sans Pro', sans-serif;
  white-space: nowrap;
}

.movie-card:hover {
  cursor: pointer;
  outline: 3px solid #00e054;
  border-radius: 5px;
  transition: outline 0.1s linear;
}
